HELP.md
target/
.m2repo/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/



### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.sql
*.md

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log
.properties
docs/
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

node_modules/

# Environment & local secrets (12-Factor compliance)
.env
config/application-local.properties
application-local.properties

# Local/generated seed data classes
src/main/java/com/web/shoppingweb/config/OrderDataSeeder.java
src/main/java/com/web/shoppingweb/config/SystemDataInitializer.java
